ion-toolbar {
    --opacity: 0.5;

}
ion-item {
    --padding-start: 0;
  }

.ion-padding {
    text-align: center;
    
}

.p1 {
    font-size: 8.8px;
}

.pic {
    width: 10%;
    height: 10%;
    margin-left: 45%;
    border-radius: 5px;
}
.xd{
    background-color: black;
}
.box1 {
    flex-direction: row;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
}
    .box1-a {
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
.box0 {
    flex-direction: column;
    display: flex;
    align-items: center;

}

.pic2 {
    width: 95%;
    height: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    
}

.ion-lbl-1{
    font-size: 0.8rem;
    text-align: end;
}