<ion-header>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-title> MI BANCO </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="dark" class="ion-padding">
  <div class="box-0">
  <ion-img class="pic" src="../../assets/img/1.png"> </ion-img>
  <ion-button id="presentar-alerta-0" fill="clear" color="success"> Iniciar Sesión </ion-button>
<ion-alert class="xd"
  trigger="presentar-alerta-0"
  header="Ingresa pai"
  [buttons]="alertaBotones"
  [inputs]="alertaIngresar"
> </ion-alert>
</div>
<div class="box1-a">

  <ion-button color="success" style="min-width: 20%">Kinky</ion-button>
  <ion-button color="success" fill="clear" class="ion-text-wrap" style="min-width: 20%"> Nasty</ion-button>
  <ion-button color="success" class="ion-text-wrap" style="min-width: 20%"> Aunque sea fancy</ion-button>
</div>
  <div class="box1">

    <ion-card color="dark">
      <ion-img class="pic2" src="../../assets/img/pue (1).png"> </ion-img>
      <ion-card-header>
        <ion-card-title>Diners Club</ion-card-title>
        <ion-card-subtitle>Ella quiere beber</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Ella quiere bailar, su novio la dejo y lo quiere olvidar.
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-img class="pic2" src="../../assets/img/pue (1).png"> </ion-img>
      <ion-card-header>
        <ion-card-title>Banco del Barrio </ion-card-title>
        <ion-card-subtitle>Ella se entrego y el tipo le fallo.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
       y por eso se va a rumbear.
      </ion-card-content>
    </ion-card>

    <ion-card color="dark">
      <ion-img class="pic2" src="../../assets/img/pue (1).png"> </ion-img>
      <ion-card-header>
        <ion-card-title>Bichiyal</ion-card-title>
        <ion-card-subtitle>Es una bichiyal, le gusta montarse</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        en los banshee y chillar
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Actividades</ion-card-title>
      <ion-card-subtitle>Ult. 30 días. </ion-card-subtitle>
      <ion-card-subtitle>Yo te conoci bailando la disco explotaaa, tu andabas escapaaa</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list >
        <ion-item color="dark">
          <ion-label>Hoy dice que llega despues de las 12, y anda en camioneta que parecen</ion-label>
          <ion-label class="ion-lbl-1">$512.512</ion-label>
        </ion-item>

        <ion-item color="dark">
          <ion-label>Tuyo</ion-label>
          <ion-label class="ion-lbl-1">$Soy el color de tu vida gris</ion-label>
        </ion-item>

        <ion-item color="dark">   
          <ion-label>Se hace la que no me conoce, pero en mi cama se volvio vicio como la</ion-label>
          <ion-label class="ion-lbl-1">$512.512</ion-label>
        </ion-item>

        <ion-item color="dark">
          <ion-label>No es normal to lo que te quiero hacer, yo te hago la</ion-label>
          <ion-label class="ion-lbl-1">$6 - 9</ion-label>
        </ion-item>

        <ion-item color="dark">
          <ion-label>y como te mueve te doy un</ion-label>
          <ion-label class="ion-lbl-1">$10</ion-label>
        </ion-item>

        <ion-item color="dark">
          <ion-label>Mami no es suficiente solo comelte de</ion-label>
          <ion-label class="ion-lbl-1">$9 a 6</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  
</ion-content>